In [5]:
import pandas as pd
df=pd.read_csv("housing_price_data_set.csv")
df.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [6]:
X=df.iloc[:, 3:].values
Y=df.iloc[:, 2:3].values
print X
print Y

[[  3.00000000e+00   1.00000000e+00   1.18000000e+03 ...,  -1.22257000e+02
    1.34000000e+03   5.65000000e+03]
 [  3.00000000e+00   2.25000000e+00   2.57000000e+03 ...,  -1.22319000e+02
    1.69000000e+03   7.63900000e+03]
 [  2.00000000e+00   1.00000000e+00   7.70000000e+02 ...,  -1.22233000e+02
    2.72000000e+03   8.06200000e+03]
 ...,
 [  4.00000000e+00   2.25000000e+00   1.78000000e+03 ...,  -1.22149000e+02
    1.67000000e+03   2.42600000e+03]
 [  4.00000000e+00   2.50000000e+00   2.11000000e+03 ...,  -1.22193000e+02
    2.72000000e+03   6.31100000e+03]
 [  4.00000000e+00   3.50000000e+00   2.77000000e+03 ...,  -1.22081000e+02
    3.41000000e+03   7.40000000e+01]]
[[ 221900.]
 [ 538000.]
 [ 180000.]
 ...,
 [ 435000.]
 [ 320000.]
 [ 820000.]]

In [21]:
from sklearn.cross_validation import train_test_split
X_train, X_test, Y_train, Y_test=train_test_split(X, Y, test_size=0.33, random_state=0)
print X_train, X_test, Y_train, Y_test

[[  3.00000000e+00   1.75000000e+00   2.09000000e+03 ...,  -1.22194000e+02
    1.51000000e+03   7.41600000e+03]
 [  3.00000000e+00   1.75000000e+00   4.00000000e+03 ...,  -1.22203000e+02
    2.53000000e+03   8.65000000e+03]
 [  3.00000000e+00   1.00000000e+00   1.76000000e+03 ...,  -1.22348000e+02
    1.32000000e+03   1.26600000e+03]
 ...,
 [  1.00000000e+00   2.00000000e+00   3.00000000e+03 ...,  -1.21945000e+02
    2.33000000e+03   2.13008000e+05]
 [  4.00000000e+00   2.50000000e+00   2.57000000e+03 ...,  -1.22000000e+02
    2.26000000e+03   5.39200000e+03]
 [  4.00000000e+00   2.25000000e+00   2.38000000e+03 ...,  -1.22120000e+02
    2.23000000e+03   8.92500000e+03]] [[  3.00000000e+00   1.75000000e+00   1.59000000e+03 ...,  -1.22194000e+02
    1.97000000e+03   8.97000000e+03]
 [  4.00000000e+00   2.50000000e+00   2.13000000e+03 ...,  -1.22160000e+02
    1.80000000e+03   9.13100000e+03]
 [  4.00000000e+00   2.50000000e+00   2.68000000e+03 ...,  -1.22125000e+02
    2.92000000e+03   4.50000000e+03]
 ...,
 [  5.00000000e+00   2.75000000e+00   1.51000000e+03 ...,  -1.22270000e+02
    2.19000000e+03   5.70000000e+03]
 [  4.00000000e+00   2.50000000e+00   2.29000000e+03 ...,  -1.22030000e+02
    2.34000000e+03   9.77400000e+03]
 [  3.00000000e+00   1.75000000e+00   1.30000000e+03 ...,  -1.22103000e+02
    2.07000000e+03   9.77500000e+03]] [[ 424950.]
 [ 628000.]
 [ 352950.]
 ...,
 [ 415000.]
 [ 561000.]
 [ 699900.]] [[  750000.]
 [  395000.]
 [  807100.]
 ...,
 [ 1000000.]
 [  590000.]
 [  455000.]]

In [26]:
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(X_train, Y_train)
Y_pred = regressor.predict(X_test)
print Y_pred

[[ 574382.09804677]
 [ 445370.30237549]
 [ 710572.10255902]
 ...,
 [ 493205.93946574]
 [ 633806.56445316]
 [ 368486.71762398]]

In [27]:
from sklearn.metrics import r2_score
print round (r2_score(Y_test, Y_pred)*100, 2), 'percent'

69.47 percent